[paths]
source =
   m2m_postaviz
   */site-packages

[run]
branch = true
source =
    m2m_postaviz
    tests
parallel = true
omit = 
        *shiny_app.py
        *bin_exploration_module.py
        *cpd_exploration_module.py
        *pcoa_module.py
[report]
show_missing = true
precision = 2
omit = *migrations*
